@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffc017;
}

.login-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.login-register input {
    margin-top: 8px;
    font-size: 1.5em;
    padding: 3px;
}

#login-logo {
    max-width: 300px;
    margin-bottom: 50px;
}

#dont-have-acc {
    margin-top: 20px;
    font-size: 1.1em;
}

#dont-have-acc span {
    cursor: pointer;
    font-weight: 700;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #818dff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.register__container {
    display: none;
}

#wrong {
    color: red;
    display: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #818dff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #6272ff;
}

.inputfile + label {
	cursor: pointer;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.uploadImageText {
    margin: 8px 0;
}